body{
    padding: 0%;
    margin: 0%;
}
.container{
    height: 100vh;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navi{
    color: white;
    font-size: 20px;
    display: flex;
    width:100%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.6)
}
.spotify{
    margin-left: 60px;
    margin-top: 15px;
}
.premium{
    margin-left: 700px;
    margin-top: 20px;
}
.help,.download,.slash,.loginn,.signupp{
    margin-left: 40px;
    margin-top: 20px;
}
.text{
text-align: center;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
}
.music{
    margin-top: 250px;
    font-size: 60px;
}
.million{
    margin-top: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}
.get{
    margin-top:50px;
    margin-left: 600px;
    margin-top: 10px;
    background-color: green;
    border-radius: 25px;
    height: 40px;
    width: 200px;
}
.inp{
    
    height: 40px;
    width: 200px;
    border-radius: 25px;
    background-color: green;
    color: white;
    border: none;
    outline-color: none;
}